:root {
  /*работа с переменными*/

  /*color()цвета*/
  --color-grey: #d9d9d9;
  --color-green: #2eba88;
  --color-dark-green: #268c67;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow: #fcd921;

  /*цвет текста*/
  --color-text-white: #ffffff;
  --color-text-black: #000000;

  /*шрифт*/
  --font-inter: "Inter", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  /*https://utopia.fyi/ (адаптивность текста с 320px по 1604px)*/
  /*начало utopia*/
  /*расчетные размеры шрифта от размера с 320px по 1604px */
  --step--2: clamp(0.78rem, calc(0.78rem + 0.02vw), 0.8rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.08vw), 1rem);
  --step-0: clamp(1.13rem, calc(1.09rem + 0.16vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.3rem + 0.26vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.54rem + 0.42vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.82rem + 0.62vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.15rem + 0.9vw), 3.05rem);
  --step-5: clamp(2.8rem, calc(2.55rem + 1.27vw), 3.82rem);
  /*расчетные размеры шрифта от размера с 320px по 1604px*/

  /*индивидуальные значения пространства(отступы от размера с 320px по 1604px)*/
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.55rem + 0.08vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.86rem + 0.08vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.09rem + 0.16vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.64rem + 0.23vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.19rem + 0.31vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.28rem + 0.47vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.38rem + 0.62vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.56rem + 0.93vw), 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.23rem + 0.39vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.47rem + 0.47vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.78rem + 0.47vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.94rem + 0.93vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.49rem + 1.01vw), 2.5rem);
  --space-l-xl: clamp(2.25rem, calc(1.88rem + 1.87vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.97rem + 2.02vw), 5rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.75rem + 3.74vw), 7.5rem);
  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.78rem + 1.71vw), 2.5rem);
  /*индивидуальные значения пространства(отступы от размера с 320px по 1604px)*/

  /*Сетка (grit)*/
  --grid-max-width: 1601px;
  --grid-gutter: var(
    --space-s-l,
    clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem)
  );
  --grid-columns: 12;
  /*Сетка (grit)*/

  /*https://utopia.fyi/ (адаптивность текста с 320px по 1604px)*/
  /*конец utopia*/
}

/*------------------------------------*\
    #SECTION-GLOBAL (начало снипетов)
\*------------------------------------*/
/*Пред.настройки НАЧАЛО*/
html {
  box-sizing: border-box; /*уберет бордюра во круг блока "-0.3125rem(или -5px)"*/
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: var(--font-inter);  /*для всего сайта */
  font-size: 100%;  /*размер шрифта будет 100% от настроек браузера (от 18 px или 1.125rem)*/
  line-height: 1.5em;  /*меж сточная высота для всего сайта*/
}

img {
  max-width: 100%;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

a {
  text-decoration: none;
  color: inherit;
}
/*UTOPIA НАЧАЛО*/
.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}
/*UTOPIA КОНЕЦ*/
/*пред настройки КОНЕЦ*/
/*------------------------------------*\
        #SECTION (конец снипетов)
\*------------------------------------*/

.header {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  align-content: space-between; */
  height: 78.8125rem; /*низ*/
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px 0px 90px;
}

.header--color {
  background-color:var(--color-green);
}
.header__content {
  min-height: 100%;/*что бы вся оболочка была на всю высоту экрана*/
  /*overflow: hidden; /*что бы нечего за экран не вылезло*/
  flex: 1 1 auto; /*позволяет флексу увеличиваться,и уменьшаться,базовый размер автоматический */
}
.header__toppling{
  display:flex;
  justify-content: space-between;
}
.logo {
  
}
.logo__img {
padding-top: 41px;
}
.menu__items {
  display:flex;
  padding-top: 68px;
  gap: 30px;
}
.menu__links {

}
.address{
  display: flex;
  flex-direction: column;
  justify-content:start;
  margin-top: 50px;
  text-align:left;
}
.poster{

}
.header__title{
  
}
.picture {
  /* display: flex;
  justify-content:center;
  align-items: center;
  gap: 3.375rem; */
}
.main{
height: 50rem;
}

.main__section {
  width: 100%;
  height: 100%;
  background: url(../images/our_workshop.png);
}