:root {
  /*работа с переменными*/

  /*color()цвета*/
  --color-grey: #d9d9d9;
  --color-green: #2eba88;
  --color-dark-green: #268c67;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow: #fcd921;

  /*цвет текста*/
  --color-text-white: #ffffff;
  --color-text-black: #000000;

  /*шрифт*/
  --font-inter: "Inter", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

/*------------------------------------*\
    #SECTION-GLOBAL (начало снипетов)
\*------------------------------------*/

/*Пред.настройки НАЧАЛО*/
html {
  box-sizing: border-box; /*уберет бордюра во круг блока "-0.3125rem(или -5px)"*/
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-inter);
  font-size: 100%;
  line-height: 1.5em;
}

img {
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

a {
  text-decoration: none;
  color: inherit;
}
/*UTOPIA НАЧАЛО*/
.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}
/*UTOPIA КОНЕЦ*/
/*пред настройки КОНЕЦ*/

/*------------------------------------*\
        #SECTION (конец снипетов)
\*------------------------------------*/

body {
  font-family: var(--font-inter); /*для всего сайта */
  font-size: 1.125rem; /*размер шрифта будет 100% от настроек браузера (от 18 px или 1.125rem)*/
  line-height: 1.5em; /*меж сточная высота для всего сайта*/
}
